@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');
/*Global Scopes*/
::root{
        --blue--: #2d3250;
        --grayBlue--: #424769;
        --matteBlack--: #17181d;
        --gray--: #292C35;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{transition: .2s ease;}
.dark-mode{background: #292C35;color: aliceblue;transition: .2s ease;}

h1,p,span{cursor: default;}
p{text-wrap: balance;}
section{height: 100vh;width: auto;}
/*Scrollbar*/
::-webkit-scrollbar{width: 10px;height: 10px;}
::-webkit-scrollbar-thumb{background-color: #F67922;border-radius: 10px; width: 8px;height: 20px;}
.dark-mode::-webkit-scrollbar-thumb{background-color: #00FFFF;}

/*Inro*/
.content{height: 100vh;}
/*Header*/
header{
    height: 70px;
    width: auto;
    display: flex;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
}
.logo{
    display: flex;
    align-items: center;   
    margin-right: auto;
}
.logo p{
    font-size: 25px;
    font-weight: bold;
}
 span{
    color: #F67922;
}
span.span-dark{
    color: #00FFFF;
}
nav{
    display: flex;
    align-items: center;    
}
nav a{
    margin: 0px 12.5px;
    cursor: pointer;
    padding: .2em;
    border-radius: 10px;
}
nav a:hover{
    background:  #F67922;
    color: #fff;
    transition: .2s ease;  
}
a.hover-color{
    color: aliceblue;
}
a.hover-color:hover{
    background: #00FFFF;
    color: #17181d;
}


/*container*/
.intro{
    height: fit-content;
    width: 90%;
    padding: 30px;
    position: relative;
    top: 20%;
}
 .content .intro{
    display: flex;
 }
    

/*Name*/
.name{
    margin-right: auto;
}
.name h1{
    font-size: 45px;
}
.name a{
    color: aliceblue;
    padding: .5em;
    border-radius: 10px;
    background: #F67922;
    font-size: 15px;
}
.hire a{
    margin-right: .6em;
}
a.cv{
    background: #00FFFF;
    color: #17181d;
}
#helloWorld{
    font-size: 20px;
    
}
/*Image*/
.image img{
    height: 350px;
}

/*About me*/
.About{padding: 30px;}
.About div{margin-right: auto;}
.About-container{display:flex;position: relative;top: 50%;transform: translateY(-50%);}
.About-container div{margin-right:20px;}
.skills{margin-top: 40px;}
.lang{display: flex;margin-top: 20px;}
.lang img{height: 60px;margin: 0px 20px;aspect-ratio: 1/1;}

/*Projects*/
.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-left: 20px;
    margin-top: 50px;
   
}
.project-container div{
   border: #000 solid 1px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   height: 150px;
   width: fit-content;
   padding: 2em;
   margin: 20px;
}
.Project h1{
   margin-left: 45px;
   padding-top: 55px;
   
}

/*project Links*/
.link{padding: .4em;color: #000;border-radius: 10px;}
.link:hover{background: #F67922;color: #fff;transition: .2s ease;}
.project-container div h3{margin-bottom: 5px;}
.project-container div p{font-size: 13px;width: 100%;}

/*Contacts*/
.Contacts{
    
    padding: 3em;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contact-title{text-align: center;margin-bottom: 20px;}
.contact-container{
    display: flex;
    align-items: center;
    height: 400px;
    padding: .6em 0px;
    padding-right: .6em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 70%;
    margin-top: 20px;
}

.contact-info{
    padding: .7em;
    background: #F67922;
    color: #fff;
    height: 100%;
    width: 300px;
    border-radius: 10px;

}
.contact{
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.message{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}
div.contact-darkmode .contact-info{
    background: #00FFFF;
    color: #000;
}
div.contact-darkmode input{
    background: transparent;
    border-bottom:  #00FFFF solid 1px;
    color: #fff;

}
div.contact-darkmode input:focus{
    border-bottom:  #00FFFF solid 2px;
}    
div.contact-darkmode textarea{
    background: transparent;
    color: #fff;
}
.message label{
    font-size: 10px;
    margin-bottom: 4px;
}
.client-info{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.client-name{ margin-right: auto;}
.client-info div, .client-message{
    display: flex;
    flex-direction: column;
}
.client-info input{
    border: none;
    border-bottom: #F67922 solid 1px;
    outline: none;
    font-size: 15px;
}
.client-info input:focus-visible{border-bottom: #F67922 solid 2px;}
.client-message input{
     height: 60px;
}
textarea{
    font-size: 15px;
    width: 400px;
    height: 150px;
    resize: none;
    border: none;
    padding: 10px;
    outline: none;
    
}
/*submitBtn*/
form button{
  cursor: pointer;
  background: #F67922;
  color: #fff;
  border: none;
  padding: .5em;
  border-radius: 10px;
}
#submit{
    position: relative;
    left: 75%;
    top: 13%;
}
div.contact-darkmode button{
    background: #00FFFF;
    color: #000;
}
/* footer */
footer{
    height: 70px;
    width: 100%;
   margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
   height: 19px;
   
}
footer a{
    color: #000;
    font-size: 19px;
    margin: 0px 10px;
}