@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

::root{
        --blue--: #2d3250;
        --grayBlue--: #424769;
        --matteBlack--: #17181d;
        --gray--: #292C35;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    transition: .2s ease;
}
.dark-mode{
    background: #292C35;
    color: aliceblue;
    transition: .2s ease;
}
.content{
    height: 100vh;
}
h1,p,span{
    cursor: default;
}
iframe{
    cursor: default;
}
/*Header*/
header{
    height: 70px;
    display: flex;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
     padding: 10px 15px;
}
.logo{
    display: flex;
    align-items: center;   
    margin-right: auto;
}
.logo p{
    font-size: 25px;
    font-weight: bold;
}
 span{
    color: #F67922;
}
span.span-dark{
    color: #00FFFF;
}
nav{
    display: flex;
    align-items: center;    
}
nav a{
    margin: 0px 12.5px;
    cursor: pointer;
    padding: .2em;
    border-radius: 10px;
}
nav a:hover{
    background:  #F67922;
    color: #fff;
    transition: .2s ease;  
}
a.hover-color{
    color: aliceblue;
}
a.hover-color:hover{
    background: #00FFFF;
    color: #17181d;
}

/*nav-bar*/

section{
    height: 100vh;
    width: auto;
}
/*container*/
.intro{
    height: fit-content;
    width: 90%;
    padding: 30px;
    position: relative;
    top: 20%;
}
 .content .intro{
    display: flex;
 }
    

/*Name*/
.name{
    margin-right: auto;
}
.name h1{
    font-size: 45px;
}
.name a{
    color: aliceblue;
    padding: .5em;
    border-radius: 10px;
    background: #F67922;
    font-size: 15px;
}
.hire a{
    margin-right: .6em;
}
a.cv{
    background: #00FFFF;
    color: #17181d;
}
#helloWorld{
    font-size: 20px;
    
}
/*Image*/
.image img{
    height: 350px;
}

/*About me*/
.About{padding: 30px;}
.About div{margin-right: auto;}
.About-container{display: flex;position: relative;top: 10%;padding: 2em;}
.About-container div{margin-right:20px;}
.skills{margin-top: 40px;}
.lang{display: flex;margin-top: 20px;}
.lang img{height: 60px;margin: 0px 20px;}

/*Projects*/
.project-container{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}
.project-container div{
   border: #fff solid 1px;
   height: 200px;
   width: auto;
   padding: 2em;
   margin: 20px;
}
.project-container img{
    height: 100px;
}